<h1 class="mt-3">
    Perfil del usuario</h1>
<hr>



<div *ngIf="auth.userProfile$ | async as profile" class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="{{profile.picture}}" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{profile.name}}</h5>
                <p class="card-text"><small class="text-muted">{{profile.email}}</small></p>
                <p class="card-text"></p>
            </div>
        </div>
    </div>
</div>
<pre *ngIf="auth.userProfile$ | async as profile">


    <code>{{ profile | json }}</code>

</pre>